$color1: #265976; //dark blue
$color2: #3685a2; //light blue
$color3: #3ea7b9; //turquoise
$color4: #f1ffff; //white
$color5: #ff9b20; //orange
$color6: #d23a3f; //red

* {
	font-size: 12pt;
	font-family: "sans-serif";
}

body, button {
	background-color: $color4;
}

input {
	padding: 7px;

	&:focus {
		border-color: $color5;
	}
}

button {
	padding: 10px; // Same height as the input
}

.shadowClick:hover {
	background-color: $color5;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.60);
	transform: translateY(-2px);
}

.shadowClick:active {
	background-color: $color6;
	transform: translateY(0);
}

.borderRadius, input, button {
	border-radius: 3px;
}

.borderShadowColor3, input, button {
	border: 3px solid $color3;
	border-right-color: $color2;
	border-bottom-color: $color2;
}

.bgColor1 {
	background-color: $color1;
}

.bgColor2 {
	background-color: $color2;
}

.bgColor3 {
	background-color: $color3;
}

.bgColor4 {
	background-color: $color4;
}

.bgColor5 {
	background-color: $color5;
}

.bgColor6 {
	background-color: $color6;
}
