$color0: #1f475e; //super dark blue
$color1: #265976; //dark blue
$color2: #3685a2; //light blue
$color3: #3ea7b9; //turquoise
$color4: #f1ffff; //white
$color5: #ff9b20; //orange
$color6: #d23a3f; //red
$color7: #ffb820; //yellow
$color8: #b0dde4; //ultra light blue

* {
	font-size: 12pt;
	font-family: "sans-serif";
}

body {
	background-color: $color4;
	margin: 0;
}

button {
	background-color: $color4;
	border: 0;
	//padding: 10px; // Same height as the input (breaks buttons)
	color: $color1;
}

input {
	padding: 7px;
	color: $color0;
	background-color: $color4;

	&:focus {
		border-color: $color5;
	}
}

.boxShadowBig {
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.60);
}

.boxShadowBalanced {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.shadowClick:hover {
	background-color: $color5;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.60);
	transform: translateY(-2px);
}

.shadowClick:active {
	background-color: $color6;
	transform: translateY(0);
}

.borderRadius, input, button {
	border-radius: 3px;
}

.borderShadowColor3, input {
	border: 3px solid $color3;
	border-right-color: $color2;
	border-bottom-color: $color2;
}

.bgColor1 {
	background-color: $color1;
}

.bgColor2 {
	background-color: $color2;
}

.bgColor3 {
	background-color: $color3;
}

.bgColor4 {
	background-color: $color4;
}

.bgColor5 {
	background-color: $color5;
}

.bgColor6 {
	background-color: $color6;
}

.scrollToTop {
	position: fixed;
	right: 1.5em;
	bottom: 1.5em;
	background-color: $color1;
	color: white;
	padding: 10px;
}

.showOnScroll {
	opacity: 0;
	transition: opacity 0.2s;
}

.errorMessage {
	margin-top: 2em;
	margin-bottom: 1em;
}

.errorMessage span {
	display: block;
	margin-left: 4em;
	margin-right: 4em;
	padding: 10px 0px 8px;
	text-align: center;
}

// https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
$radioCheckboxSize: 18px;

.radioCheckboxInput {
	display: block;
	position: relative;
	padding-left: 1em;
	margin-bottom: 1em;
	cursor: pointer;
	font-size: $radioCheckboxSize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: $radioCheckboxSize;
		width: $radioCheckboxSize;
		background-color: #eeeeee;
	}

	input[type=radio] + .checkmark {
		border-radius: 50%;
	}

	&:hover input ~ .checkmark {
		background-color: #cccccc;
		transform: scale(.9);
		transition: .3s;
	}

	input:checked ~ .checkmark {
		background-color: $color3;
	}
	
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	input:checked ~ .checkmark:after {
		display: block;
	}

	input[type=checkbox] + .checkmark:after {
		left: 9 * $radioCheckboxSize / 25;
		top: $radioCheckboxSize / 6;
		width: $radioCheckboxSize / 5;
		height: $radioCheckboxSize / 5;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	input[type=radio] + .checkmark:after {
		top: 9 * $radioCheckboxSize / 25;
		left: 9 * $radioCheckboxSize / 25;
		width: 8 * $radioCheckboxSize / 25;
		height: 8 * $radioCheckboxSize / 25;
		border-radius: 50%;
		background: white;
	}

	input:disabled + .checkmark {
		background-color: darkgrey;
	}
}
